<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8">
  <title>Gallery - Picture Viewer</title>
  <style>
  body {
    margin: 0;
    background: black;
  }

  #gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  #gallery img {
    max-width: 100%;
    height: 300px;
    border: 3px solid black;
  }

  #gallery img:hover {
    border: 3px solid lightblue;
  }

  #gallery img.selected {
    border-color: red;
  }
  </style>

 </head>
 <body>
  <div id="gallery">
  {% for img in images %}
      <img src="{{ img }}" alt="">
  {% endfor %}
  </div>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script>
    $( document ).ready(function() {
      $( 'body' ).on( 'click', 'img', function() {
        $img = $( this );
        $.post( '/image_selected',
                { filename: $img.attr( 'src' ) },
                function() {
          $( '.selected' ).removeClass( 'selected' );
          $img.addClass( 'selected' );
        });
      });
    })
  </script>
 </body>
</html>
