<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8">
  <title>Display - Picture Viewer</title>
  <style>
  html {
    background: url() no-repeat center center fixed;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    background-color: black;
  }

  </style>
 </head>
 <body>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script>
    $( document ).ready( function() {
      var source = new EventSource( '/stream' );
      source.onmessage = function( evt ) {
        $( 'html' ).css( 'background-image', 'url("' + evt.data + '")' );
      };
    })
  </script>
 </body>
</html>


